/** Cross-browser grayscale **/
@mixin grayscale($opacity){
    -webkit-filter: grayscale($opacity);
    filter: gray;
}

/** Cross-browser placeholder **/
@mixin placeholder($color){
    &::-webkit-input-placeholder{
        color:$color;
    }
    &:-moz-placeholder{
        color:$color;
    }
    &::-moz-placeholder{
        color:$color;
    }
    &:-ms-input-placeholder{
        color:$color;
    }  
}

/** Cross-browser opacity **/
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); 
}

/** Cross-browser transition **/
@mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

/** Material Icons mixin **/
@mixin material-icons{
    font-weight: normal;
    font-family: 'Material Icons';
    font-style: normal;
    line-height: 1;
    direction: ltr;
    letter-spacing: normal;
    white-space: nowrap;
    text-transform: none;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/** Media queries **/
@mixin min-1600 {
    @media only screen and (min-width: 1600px) {
        @content;
    }
}
@mixin max-1600 {
    @media only screen and (max-width: 1600px) {
        @content;
    }
}
@mixin min-1440 {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}
@mixin max-1440 {
    @media only screen and (max-width: 1440px) {
        @content;
    }
}
@mixin min-xxl {
    @media only screen and (min-width: 1280px) {
        @content;
    }
}
@mixin max-xxl {
    @media only screen and (max-width: 1280px) {
        @content;
    }
}
@mixin min-xl {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}
@mixin max-xl {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}
@mixin min-lg {
    @media only screen and (min-width: 992px) {
        @content;
    }
}
@mixin max-lg {
    @media only screen and (max-width: 992px) {
        @content;
    }
}
@mixin min-md {
    @media only screen and (min-width: 768px) {
        @content;
    }
}
@mixin max-md {
    @media only screen and (max-width: 768px) {
        @content;
    }
}
@mixin min-sm {
    @media only screen and (min-width: 576px) {
        @content;
    }
}
@mixin max-sm {
    @media only screen and (max-width: 576px) {
        @content;
    }
}
@mixin min-xs {
    @media only screen and (min-width: 320px) {
        @content;
    }
}
@mixin max-xs {
    @media only screen and (max-width: 320px) {
        @content;
    }
}