/** Color palette **/
$white: #ffffff;
$black: #000000;
$yellow: #FAB90F;
$blue: #334AC0;
$red: #FA420F;
$lightGrey: #F4F4F4;
$purple: #b464b4;
$oliveGreen: #a0b450;
$lightBlue: #6aacef;
$turquoise: #44C3D4;
$green: #96C84B;
$orange: #ff6400;

/** Dark mode palette **/
$darkBg: #171717;
$darkGrey: #333;
$grey: #666;

/** Font stack **/
$mainFont: "Open Sans", sans-serif;
$iconFont: "Material Icons", sans-serif;
$codeFont: "JetBrains Mono", sans-serif;

/** Media-queries breakpoints */
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1024px;
$xxl: 1280px;