{% if site.data.newsletter.display %}
<section class="newsletter">
    <div class="newsletter__container container row">
        <div class="newsletter__content wow fadeIn">
            {% if site.data.newsletter.title %}
                <h4 class="h1 newsletter__title">
                    {{ site.data.newsletter.title }}
                </h4>
            {% endif %}
            {% if site.data.newsletter.subtitle %}
                <p>
                    {{ site.data.newsletter.subtitle }}
                </p>
            {% endif %}
        </div>
        <form class="newsletter__form wow fadeIn" data-wow-delay=".25s">
            <div class="newsletter__input-group newsletter__input-group--name">
                <input class="newsletter__input" type="text" id="name" name="name" placeholder="Your name" required>
            </div>
            <div class="newsletter__input-group newsletter__input-group--email">
                <input class="newsletter__input" type="email" id="email" name="email" placeholder="examplename@bytewax.io" required>
            </div>
            <button type="submit" class="btn btn--lg btn--primary newsletter__submit">Subscribe<i class="btn__arrow btn__arrow--right"></i></button>
            <div class="newsletter__checkbox">
                <input class="newsletter__checkbox-input" type="checkbox" id="agree" name="agree" required>
                <label class="newsletter__checkbox-label" for="agree">I agree with Bytewax, Inc. storing and using my information with care in accordance with their Privacy Policy. This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</label>
            </div>
        </form>
    </div>
</section>
{% endif %}