/** UI Components -- Article **/
.article{
    text-align:center;
    @include min-sm{
        text-align:left;
    }
    &__thumbnail{
        position:relative;
        height:200px;
        margin:0;
        overflow:hidden;
        border-radius:10px;
        @include min-sm{
            height:210px;
        }
        @include min-xxl{
            height:240px;
        }
        &-img{
            position:absolute;
            top:50%;
            left:50%;
            width:auto;
            max-width:120%;
            min-height:100%;
            transform:translate(-50%,-50%);
        }
    }
    &__meta{
        display:none;
        flex-direction:row;
        flex-wrap:wrap;
        align-items:center;
        padding-top:16px;
        padding-bottom:18px;
        font-size:0.777em;
        border-bottom:1px solid rgba($black,.12);
        @include min-sm{
            display:flex;
        }
        &-author{
            display:flex;
            flex-direction:row;
            flex-wrap:nowrap;
            align-items:center;
            margin-right:24px;
        }
        &-avatar{
            display:inline-block;
            width:36px;
            height:36px;
            margin:0 12px 0 0;
            overflow:hidden;
            border-radius:50%;
        }
        &-img{
            max-width:100%;
            height:auto;
        }
        &-time{
            margin-left:auto;
        }
    }
    &__title{
        margin:24px 0 8px 0;
        color:$black;
        font-weight:600;
        @include min-sm{
            margin:27px 0 12px 0;
        }
    }
    &__permalink{
        color:inherit;
        text-decoration:none;
    }
    &__excerpt{
        margin-bottom:24px;
        font-size:0.875em;
        line-height:160%;
        @include min-sm{
            margin-bottom:27px;
            font-size:0.888em;
            line-height:165%;
        }
    }
    &__link{
        display:inline-block;
        color:$blue;
        font-weight:600;
        font-size:1em;
        font-family:$headingFont;
        text-decoration:none;
        &::after{
            display:inline-block;
            font-size:24px;
            vertical-align:-7px;
            content:"arrow_right";
            @include material-icons;
        }
    }
    &__footer{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        align-items:center;
        justify-content:center;
        @include min-sm{
            justify-content:space-between;
        }
    }
    &__info{
        display:none;
        @include min-sm{
            display:inline-block;
            color:rgba($black,.38);
            font-size:0.77em;
        }
    }
}

/** Dark mode styles **/
body.dark-mode .article{
    &__title{
        color:$white;
    }
    &__link{
        color:$yellow;
    }
    &__meta{
        border-bottom:1px solid rgba($white,.12);
    }
}