---
layout: base
---

<!-- Docs -->
<main class="docs main">
    <section class="docs__container container">
        <div class="docs__row row">
            <!-- Primary sidebar -->
            {% include docs/sidebar.html %}
            
            <!-- Content -->
            <div class="docs__content line-numbers">
                {% if page.url == "/" %}
                    {% assign sorted = site.docs | sort: 'order' %}
                    {% for entry in sorted limit:1 %}
                        <h1>{{ entry.title }}</h1>
                        {{ entry.content }}
                    {% endfor %}
                {% else %}
                    <h1>{{ page.title }}</h1>
                    {{ content }}
                    <!-- Pagination -->
                    {% include docs/pagination.html %}
                {% endif %}
            </div>

            <!-- Table of contents -->
            {% include docs/toc.html %}
        </div>
    </section>
</main>